*{
  margin:0;
  padding:0px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  width:100%;
  max-width: 960px;
  margin: 0 auto;
  border:1px solid gray;
  padding:20px;
}

.popUp{
  width:600px;
  margin:0 auto;
  padding:10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  background:ghostwhite;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  border: 2px solid beige;
  color: black;
  z-index: 999;
  box-shadow: 1px 0px 5px #000000a8;
}

.bar{
  background-color:green;
  opacity: .3;
  width:100%;
  height: 100%;
  position: absolute;
  left:0px;
  top:0px
}